@use "../global" as g;
@use "../foundation/mixin" as m;

.l-footer {
  height: 6rem;
  background-color: g.$main-blue;
  @include m.mq(tab) {
    background-color: inherit;
  }
  p {
    text-align: center;
    line-height: 6rem;
    font-size: 1.6rem;
    color: #fff;
    @include m.mq(sp) {
      font-size: 1.4rem;
      color: inherit;
    }
  }
}
